@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2018-04-08 01:45:28
 * @version $Id$
 */

i.hsf{
    display: block;
    position: absolute;
    left: 15px;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color:#828282;
}
span.icon-cross{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #46d2a7;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
/*    transform: rotate(45deg);*/
}
span.icon-cross::before{
    position: absolute;
    display: block;
    content: '';
    left: 9px;
    top: 2px;
    width: 2px;
    height: 16px;
    background-color: #fff;
}
span.icon-cross::after{
    position: absolute;
    display: block;
    content: '';
    left: 2px;
    top: 9px;
    width: 16px;
    height: 2px;
    background-color: #fff;
}
.rotate-45{
    transform: rotate(45deg);
}
i.fa{
    color: #06cfa7;
}
i.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #06cfa7;
}
i.hot{
    position: absolute;
    right: -15px;
    top: 0;
}
i.hot svg{
    width: 10px;
    height: 10px;
    fill:#06cfa7;
}
